<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login Page </h1>

        <form action="/" method="POST">
            <table>
                <tr>
                    <td>Enter Username : </td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Enter Password : </td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
        <h1 style="color: red; ">Invalid Username or Password</h1>
    </center>


</body>

</html>